<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LotteryNumbersWriter.Tests.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LotteryNumbersWriter.Tests.Settings>
            <setting name="FilePath" serializeAs="String">
                <value>C:\LotteryNumbersGenerator</value>
            </setting>
            <setting name="FileName" serializeAs="String">
                <value>LotteryNumbersLog.txt</value>
            </setting>
        </LotteryNumbersWriter.Tests.Settings>
    </applicationSettings>
</configuration>